<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/product-detail.css">
</head>
<body>
    <!-- HEADER -->
    <div class="header-content-cart">
        <div class="head-menubar-cart d-flex align-items-center">
            <div class="container-bg">
                <div class="row">
                    <div class="col-2">
                        <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/t/26/assets/logo.png?v=8319783983011445918" alt="Logo" srcset="">
                    </div>
                    <div class="col-8">
                        <div class="sidemenu-holder">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link product" href="#">Catalog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Blog</a>
                                        </li>
                                        <li class="nav-item blog">
                                            <a class="nav-link" href="#">Pages</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="header-icon">
                            <ul class="list-inline d-flex justify-content-end">
                                <li class="list-inline-item cart"><a href="cart"><i class="fas fa-shopping-cart fa-lg"></i></a></li>
                                <li class="list-inline-item user">
                                    <a href="articles" title="Resister"><i class="far fa-user fa-lg"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="headphone-image">
        <div class="shopping-cart">
           <h1 style="font-family: 'Times New Roman', Times, serif;">COMFORT EARPHONE</h1>
           <p>
               <span>
                <a style="color:white" href="/" title="Back to the front page">All</a>
               </span>
               / Comfort Earphone
           </p>
        </div>
    </div>
    <!-- HEADER -->

    <!--MAIN CONTENT-->
    <div class="main-content">
        <div class="side-bar">
            <div class="widget category">
                <h4>Category</h4>
                <ul>
                    <li>
                        <a href="collections/wireless">Wireless</a>
                    </li>
                    <li>
                        <a href="collections/bluetooth">Noise Isolated</a>
                    </li>
                    <li>
                        <a href="collections/in-ear">Noise-canceling</a>
                    </li>
                    <li>
                        <a href="collections/sport-earbuds">Sport Earbuds</a>
                    </li>
                </ul>
               
            </div>
            <div class="hot-deal">
                <h4>Hot deal</h4>
                <img style="height: 250px; width: 250px;" src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-42_40206bfd-45c1-4077-acc8-3d9bfc2d51a5_350X.jpg?v=1596620997" alt="">
                <br>
                <br>
                <a  href="">V50 EARPHONE</a>
                <br>
                <br>
                <br>
            </div> 
            <div class="best-seller">
                <h4>Best Seller</h4>
        
            <table>
                <tr>
                  <td> <a href="">V45 Earphone</a></td>
                  <td> <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-27_301aa288-d998-445a-8c2f-7c9a35c52bb8_small.jpg?v=1596621004" alt=""> </td>
                </tr>
                
                <tr>
                
                    <td><a href="">V50 Earphone</a></td>
                    <td><img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-42_40206bfd-45c1-4077-acc8-3d9bfc2d51a5_small.jpg?v=1596620997" alt=""></td>
                </tr>
                
                <tr>
                   <td><a href="">Trendy Earbub</a></td>
                   <td><img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-38_23f820d8-ef3a-4223-9734-3e6f29817b89_small.jpg?v=1596620991" alt=""></td>
                </tr>
                
                <tr>
                   <td> <a href="">V42 Earphone</a></td>
                    <td><img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-3_ecb7b899-fa05-422d-9a3f-75098acf2299_small.jpg?v=1596620951" alt=""></td>
                </tr>
                
            </table>
            </div>
        </div>
        <div class="product-info">
            <div class="detail">
                <div class="product-image">
                    <img src="<%= rows[0].thumbnail_photo %> " alt="">
                </div>
                <div class="product-detail">
                    <h4><%= rows[0].ProductName %></h4>
                    <div class="short-desc">
                        <p>
                            <%= rows[0].ProductSortDesc%> 
                        </p>
                    </div>
                    <div class="all-info">
                        <div class="Price">
                            <label>Price:</label>
                            <div style="display: inline-block;">
                                <span><%= rows[0].Price %>.00 $</span>
                            </div>
                        </div>
                    </div>
                    <!-- <table>
                        <tr>
                            <td>Price</td>
                            <td style="color: #fc846b;" >$9.500</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td style="color: #fc846b;">
                            <div class="color-options">
                               
                               <div class="color-item">
                                    <label  for="1st-color"><%= rows[0].Color %></label>
                                    <input name="color"  type="radio" id="1st-color">
                                </div>
                                <div class="color-item">
                                    <label for="2nd-color"><%= rows[0].Color %></label>
                                    <input name="color"  type="radio" id="2nd-color">
                                </div>
                                <div class="color-item">
                                    <label for="3rd-color"><%= rows[0].Color %></label>
                                    <input name="color"  type="radio" id="3rd-color">
                                </div>
                            </div>
                            
                            </td>
                        </tr>
                        <tr>
                            <td>Material</td>
                            <td style="color: #fc846b;">
                                <div class="color-options">
                               
                                    <div class="color-item">
                                         <label  for="1st-ma"><%= rows[0].Material %></label>
                                         <input name="ma"  type="radio" id="1st-ma">
                                     </div>
                                     <div class="color-item">
                                         <label for="2nd-ma"><%= rows[0].Material %></label>
                                         <input name="ma"  type="radio" id="2nd-ma">
                                     </div>
                                     <div class="color-item">
                                         <label for="3rd-ma"><%= rows[0].Material %></label>
                                         <input name="ma"  type="radio" id="3rd-ma">
                                     </div>
                                 </div>
                            </td>
                        </tr>
                       
                        <tr>
                            <td>Brand</td>
                            <td style="color: #fc846b;"><%= rows[0].Brand_id %></td>
                        </tr>
                       
                        <tr>
                            <td>Product Type</td>
                            <td style="color: #fc846b;">type</td>
                        </tr>
                       
                        <tr>
                            <td>Avaiability</td>
                            <td style="color: #fc846b;"><%= rows[0].ProductState %></td>
                        </tr>
                    </table> -->
                    <br>
                    <button>Add to cart</button>
                    
                    <button>Buy it now</button>
                    </div>

                </div>
                
                <div class="description">
                
                    <h4>PRODUCT DESCRIPTION</h4><br>
        <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis.</p>
        <h4>Sample Unordered List</h4><br>
        <ul class="unorder-list">
            <li>Comodous in tempor ullamcorper miaculis</li>
            <li>Pellentesque vitae neque mollis urna mattis laoreet</li>
            <li>Divamus sit amet purus justo</li>
            <li>Proin molestie egestas orci ac suscipit risus posuere loremous</li>
        </ul>
        <h4>Sample Ordered List</h4><br>
        <ol class="order-list">
            <li>Comodous in tempor ullamcorper miaculis.</li>
            <li>Pellentesque vitae neque mollis urna mattis laoreet</li>
            <li>Divamus sit amet purus justo</li>
            <li>Proin molestie egestas orci ac suscipit risus posuere loremous</li>
        </ol>
        <h4>Sample Paragraph Text</h4>
        <p>Praesent vestibulum congue tellus at fringilla. Curabitur vitae semper sem, eu convallis est. Cras felis nunc commodo eu convallis vitae interdum non nisl. Maecenas ac est sit amet augue pharetra convallis nec danos dui. Cras suscipit quam et turpis eleifend vitae malesuada magna congue. Damus id ullamcorper neque. Sed vitae mi a mi pretium aliquet ac sed elit. Pellentesque nulla eros accumsan quis justo at tincidunt lobortis denimes loremous. Suspendisse vestibulum lectus in lectus volutpat, ut dapibus purus pulvinar. Vestibulum sit amet auctor ipsum.</p>
         
                </div>
                <h4>Relate Product</h4>
                <div class="relate">
                    
                    <div class="column">
                        <img style="width: 200px; height: 200px;" src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-42_40206bfd-45c1-4077-acc8-3d9bfc2d51a5.jpg?v=1596620997" alt="">
                        <a style="text-align: center;" href="">V50 Earphone</a>
                        <p>$900</p>
                    </div>
                    <div class="column">
                        <img style="width: 200px; height: 200px;" src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-38_23f820d8-ef3a-4223-9734-3e6f29817b89.jpg?v=1596620991" alt="">
                        <a style="text-align: center;" href="">Trendy Earbub</a>
                        <p>$900</p>
                    </div>
                    <div class="column">
                        <img style="width: 200px; height: 200px;" src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-3_ecb7b899-fa05-422d-9a3f-75098acf2299.jpg?v=1596620951" alt="">
                        <a style="text-align: center;" href="">V42 Earphone</a>
                        <p>$1.100</p>
                    </div>
                    <div class="column">
                        <img style="width: 200px; height: 200px;" src="https://cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-42_40206bfd-45c1-4077-acc8-3d9bfc2d51a5.jpg?v=1596620997" alt="">
                        <a style="text-align: center;" href="">V56 Earphone</a>
                        <p>$900</p>

                </div>
            </div>
        </div>
        </div>   
    </div>
    
    
    
    <!-- FOOTER -->
    <div class="footer">
        <div class="footer-content">
            <a href="#">
                <img src="//cdn.shopify.com/s/files/1/0437/0454/9536/files/logo_250x.png?v=1596001145" alt="Logo">
            </a>
            <div class="mail">
                <div class="container">
                    <div class="title">
                        <h4 style="color: #ffffff;">Subscribe Our Newsletter</h4>
                    </div>
                    <div class="mail-box">
                        <form action="" id="contact-form">
                            <input type="email" placeholder="Email address" class="mail" aria-label="Email address">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="social-icons">
                <ul class="social-icon-link list-inline">
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-pinterest fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-instagram fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <ul class="site-footer-link">
                <li class="after">
                    <a href="#" style="color: #ffffff;">Home</a>
                </li>
                <li class="after">
                    <a href="#" style="color: #ffffff;">About</a>
                </li>
                <li class="after">
                    <a href="#" style="color: #ffffff;">Blog</a>
                </li>
                <li class="after">
                    <a href="#" style="color: #ffffff;">Shop</a>
                </li>
                <li class="">
                    <a href="#" style="color: #ffffff;">Contact</a>
                </li>
            </ul>
        </div>
        <div class="copyright" style="border-color:rgba(252, 132, 107, 0.3);">
            <p style="color:#ffffff">Copyright © 2020 Boom Earwear Powered by Shopify. All Rights Reserved.</p>
        </div>
    </div>
    <!-- FOOTER -->
</body>
</html>